@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa estilos específicos de Swiper */
@import "swiper/css"; /* Estilo base de Swiper */
@import "swiper/css/navigation"; /* Si usas navegación */
@import "swiper/css/pagination"; /* Si usas paginación */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}